.landing-right-thumbnail{
    height: 25vh;
    width: 15vw;
    background-size: contain;
    background-repeat:no-repeat;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  .rotate {
    animation: rotation 5s infinite linear;
  }

  .box{
      position: relative;
      z-index: 1;
      border-radius: 5px;
  }

  .box:hover {
    transform: scale(1.02, 1.02);
    z-index: 5;
  }
  
  /* Fade in the pseudo-element with the bigger shadow */
  .box:hover::after {
    opacity: 1;
  }

  .box::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);
    transition: opacity 0.3s ease-in-out;
  }